body {
    overflow-x: hidden;
}

#containsRow{
    padding-right: 60px;
    background-color: rgb(17, 16, 29);
}

.col-md-6{
    padding: 1.25vw;
    margin-bottom: 1rem !important;
}

@media (max-width: 992px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}