.movie-card {
  position: relative;  
  height: 100%; 
  display: flex;
  max-width: none;
  flex-direction: column;
  margin: 25px;
  aspect-ratio: 15 / 12;
  background-color: rgb(34, 33, 54);
  color: aliceblue;
}

.card-content {
  display: flex;
  flex-direction: row;
  height: 100%; 
}

.movie-poster {
  width: 50%; 
  aspect-ratio: 15 / 24; 
  object-fit: cover; 
}

.movie-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 3.5%;
}

.show-dates {
  display: flex;
  margin-top: 10%;
  margin-right: 3%;
  align-items: center;
  justify-content: center;
}

.show-dates button {
  background-color: rgb(34, 33, 54);
  border: 1px solid white;
  font-size: 18px;
  margin-right: 4%;
  margin-bottom: 5%;
  width: 29%;
  padding: calc(3%);
}

.movie-title {
  margin-top: 3%;
  text-align: left;
}

.buttons-container {
  display: flex;
  margin-top: auto;
  margin-bottom: 15%;
  margin-left: 0;
  margin-right: 7%;
}

.details-button{
  width: 100%;
  aspect-ratio: 7/1;
}

.movie-details {
  margin-top: 10%; 
  margin-right: 3%;
}

.likes-badge {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
